<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2022 The Jerry xu Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--    &lt;!&ndash; Android 11 新增 &ndash;&gt;-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
    <!--        tools:ignore="ScopedStorage" />-->

    <!-- android 10 根目录创建文件夹 android:requestLegacyExternalStorage="true" -->
    <!-- android 11 根目录创建文件夹 android:preserveLegacyExternalStorage="true"
         在Android 11 的机器上覆盖安装时，才能访问旧版存储位置，卸载重装会失效-->
    <!-- Android 11 更新了新的存储权限分区存储，将不再允许用户授权访问 Downloads 的根目录、每个可用 SD 卡的根目录以及其它应用的目录。
         应用仍然可以通过 Storage Access Framework API 或者文件选择器来帮助用户从共享存储中选取个别文件-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LawRefBook"
        tools:targetApi="r">
        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.content.ContentActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:label="@string/title_activity_content"
            android:theme="@style/Theme.LawRefBook.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustNothing" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>